doctype html
html(lang='en')
    head
        title Hedgehog Registry - #{title}
        meta(charset='utf-8')
        meta(name='description', content='hedgehog registry')
        meta(name='keywords', content='african pygmy hedghog club uk registry')
        meta(name='author', content='Scott Crossan')

        //- ----- link website ----- //
        //- link(rel='icon' href='src/img/favicon.png' type='image/x-icon')

        script(type="text/javascript", src="/js/fetch.js")
        script(type="text/javascript", src="/js/jquery.min.js")
        script(type="text/javascript", src="/js/uikit.min.js")
        
        if(component)
            script(type="text/javascript", src="/jspm_packages/system.js")
            script(type="text/javascript", src="/config.js")
            
        //- ----- CSS Files ----- //
        link(rel='stylesheet', href='/style.css')
        //- link(rel='stylesheet', href='/uikit.almost-flat.css')
    
    body
        div.banner        
            
        include nav
        
        div.main#app!= html
            if(component)
                div#loading
                    |Loading... 
                    img(src="/images/loader.gif", style="margin-left: 10px;")
        
            
        
        if(component)
            input(type="hidden", name="component", value=component)
            
            script.
                let origin = location.origin;
                let component = $('input[name="component"]').val();
                if(origin.includes('localhost') || origin.includes('docker')) {
                    origin = origin.replace(/:([0-9]+)/g, '');
                    
                    console.log(component);
                    
                    System.trace = true;
                    System.import('capaj/systemjs-hot-reloader').then((HotReloader) => {
                        return new HotReloader.default(`${origin}:5776`);
                    }).then((hr) => {
                        System.import(`/components/${component}`).then(() => {
                            $('div#loading').remove();
                        }).catch(err => {
                            $('div#loading').html(`<pre>${err}</pre>`);
                            console.error(err);
                        });
                    });
                }        
                else {
                    System.import(`/components/${component}`);
                }
        
            
